@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito';
}

header{
    background: #E44449;
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
}

header h1{
    display: none;
}
nav{
    display: flex;
    justify-content: center;
    gap: 18px;
    background: #E44449;
    padding: 30px 0px;
}

select#sigla{
    background: #E44449;
    border: 1px solid #ff595f;
    color: white;
    font-size: 1em;
    text-indent:13px ;
    border-radius: 20px;
    width: 67px;
}

select#cidade{
    border: none;
    background: #E44449;
    border: 1px solid #ff595f;
    color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('imagens/seta.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    text-indent: 0.01px;
    text-overflow: '';
    padding:15px;
    font-size: 1em;
    border-radius: 20px;
    width: 145px;
}

button#buscar{
    background: #F4D35E;
    padding: 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border: none;
    background-image: url("imagens/Procurar.png");
}

.opcoes{
    background: #F15156;
    color: white;
}

.opcoes select{
    background: #F75F64;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
}

.opcoes h1{
    text-align: center;
    padding-top: 20px;
    font-size: 1.7em;
}

.primeiroselect{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
}

.segundoselect{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;

}
.filtrosdeanimais{
    width: 100%;
}

.filtrosdeanimais p{
    text-align: center;
    color: #0D3B66;
    padding: 10px 0px;
}

.filtrosdeanimais p strong{
    color: #0f304e;
}

.filtrosdeanimais select{
    display: block;
    margin: 0 auto;
    padding: 0px 0px;
    background: #FBE1E2;
    color: #0D3B66;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.filtros{
    background: #FDECED;
}


img#foto{
    margin-left: 3px;
}

p#nome{
    text-align: center;
    color: #0D3B66;
    font-weight: bolder;
    position: relative;
    transform: translate(1%, -90%);
}

img#logo{
    position: relative;
    transform: translate(225%, -65%);
}

div#block{
    width: 280px;
    height: 209px;
    background: #fff;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.listadebichos{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1558px) {

    body{
        background: #FDECED;
    }
    header{
        display: flex;
        justify-content: left;
        padding-left: 50px;
        width: 380px;
    }

    header h1{
        display: block;
        position: absolute;
        left: 50%;
        color: #0D3B66;
        font-weight: bolder;
    }

    main{
        display: flex;
    }

    nav{
        display: flex;
        justify-content: left;
        width: 380px;
        padding-left: 50px;
    }

    .opcoes{
        width:380px ;
        display: flex;
        flex-direction: column;;
        height: 60vw;
    }

    .opcoes h1{
        font-size: 1.3em;
        max-width: 300px;
        margin-left: 40px;
        text-align: left;
    }

    .opcoes p {
        text-align: left;
        max-width: 300px;
        padding: 15px 0px;
        margin: 0;
    }

    .primeiroselect{
        display: flex;
        flex-direction: column;
        margin-right: 74px;
        max-width: 300px;
        margin-left: 40px;
        padding: 0;
    }


    .primeiroselect select{
        width: 270px;
    }

    .segundoselect{
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        padding: 0;
    }
    
    .segundoselect select{
        width: 270px;
    }

    .listadebichos{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
    }

    .filtros{
        margin-left: 15px;
        margin: 0;
    }

    .filtrosdeanimais{
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        position: relative;
        gap: 60%;
        left: 1%;
    }

    button#buscar{
        cursor: pointer;
    }
}
