@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
header h1{
    max-width: 390px;
    margin: 0 auto;
    text-align: center;
    color: #0D3B66;
    font-weight: bolder;
    padding: 30px 0px;
    line-height: 30px;
}

.imagem{
    display: none ;
}

p{
    color: #0D3B66;
    font-weight: bolder;
    text-align: left;
    margin-left: 47px;
    padding: 3px 0px;
}

.formulário{
    text-align: center;
    max-width: 390px;
    margin: 0 auto;
}

.formulário input{
    width: 300px;
    padding: 8px;
    background: #F5F8FA;
    border: none;
    border-radius: 10px;
    color:#0d3b66;
    margin: 10px 0px;
}
.fa-eye-slash{
    position: absolute;
    transform: translate(-180%, 115%);
    color: #819AB0;
}

.fa-eye{
    position: absolute;
    transform: translate(-180%, 115%);
    color: #819AB0;
}

.formulário input:focus{
    outline: 0;
}

.googlemaps img{
    width: 300px;
    padding-top: 10px;
}

.enviar{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.enviar button{
    margin: 20px 0px;
    width: 300px;
    padding: 10px 0px;
    border: none;
    color: white;
    background-color: #0D3B66;
    border-radius: 10px;
}

.enviar a{
    width: 300px;
    padding: 10px 0px;
    border: none;
    color: #0D3B66;
    background-color: #F5F8FA;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 40px;
}

@media screen and (min-width: 1280px) {
    .imagem{
        display: block;
        width: 488px;
        height: 600px;
        background: #F15156;
        border-radius: 20px;
        position: relative;
        transform: translate(30%, -15%);
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 9px;
        margin-top: 50px;
        color: white;
        font-weight: bolder;
    }

    .imagem img#cachorro{
        width: 450px;
        margin-top: 250px;
        margin-left: 20px;
    }

    .formulário{
        max-width: 500px;
    }

    .fa-eye-slash{
        position: absolute;
        transform: translate(-180%, 175%);
        color: #819AB0;
        cursor: pointer;
    }
    
    .fa-eye{
        position: absolute;
        transform: translate(-192%, 175%);
        color: #819AB0;
        cursor: pointer;
    }

    .formulário input{
        width: 410px;
        padding: 15px;
        font-size: 1.1em;
    }

    .googlemaps img{
        width: 400px;
    }
    header h1{
        position: relative;
        left: 15%;
    }

    p{
        margin-left: 9px;
    }

    main{
        display: flex;
    }

    button#cadastrar{
        width: 400px;
        padding: 15px 0px;
    }

    .enviar a{
        width: 400px;
        padding: 15px 0px;
    }

    button#cadastrar:hover{
        background: #124b80;
        cursor: pointer;
    }

    .enviar a:hover{
        background: #e2e5e7;
    }

    @media screen and (min-width: 1920px) {
        header h1{
            position: relative;
            left: 20%;
            font-size: 3em;
            line-height: 50px;
        }

        .formulário input{
            width: 600px;
        }

        .googlemaps img{
            width: 600px;
        }

        .fa-eye-slash{
            position: absolute;
            transform: translate(1500%, -290%);
            color: #819AB0;
            cursor: pointer;
        }

        .fa-eye{
            position: absolute;
            transform: translate(1672%, -290%);
            color: #819AB0;
            cursor: pointer;
        }

        .enviar button#cadastrar{
            width: 600px;
            margin-left: 100px;
            padding: 25px 0px;
            font-size: 1.3em;
        }

        .enviar a{
            width: 600px;
            margin-left: 100px;
            padding: 25px 0px;
            font-size: 1.3em;
        }

        .imagem{
            width: 700px;
            height: 800px;
        }

        .imagem img#cachorro{
            width: 640px;
            margin-top: 330px;
            margin-left: 30px;
        }

        .logo{
            font-size: 2em;
        }
    }
}