@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    
}

header h1{
    font-size: 2.3em;
    max-width: 330px;
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
    color: #0D3B66;
    font-weight: bolder;
    padding-bottom: 50px;
}

.name h1{
    display: none;
}
.formulario{
    text-align: center;
    display: block;
    max-width: 330px;
    margin: 0 auto;
}

.formulario p {
    color: #0D3B66;
    margin-left: 14px;
}

.formulario input{
    width: 93%;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.formulario p{
    text-align: left;
}

input#email, input#senha{
    background: #F5F8FA;
    margin: 10px 0px;
}

input#senha{
    position: relative;
}

input#botao{
    margin-top: 30px;
    background: #0D3B66;
    color: #fff;
    width: 330px;
}

.fa-eye-slash{
    position: absolute;
    transform: translate(-164%, 125%);
}

.fa-eye{
    position: absolute;
    transform: translate(-164%, 125%);
}

.btn{
    max-width: 330px;
    margin: 0 auto;
    width: 330px
}

a{
    text-decoration: none;
    background: #F3F5F7;
    font-weight: bolder;
    color: #0D3B66;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    text-align: center;
}

img{
    display: none;
}

@media screen and (min-width: 1280px) {

    main{
        display: flex;
        justify-content: space-around;
    }

    .formulario{
        margin-top: 150px;
        width: 500px;
    }

    .formulario input{
        font-size: 1.2em;
        padding: 20px;
        width: 488px;
    }

    .sessao-login{
        margin-right: 200px;
    }

    input#botao{
        width: 488px;
    }

    input#botao:hover{
        background-color: #124b80;
        cursor: pointer;
    }

    a{
        width: 488px;
    }

    a:hover{
        background-color: #e2e5e7;
    }

    .fa-eye-slash{
        position: absolute;
        transform:  translate(1100%, -280%);
        font-size: 1.2em;
    }

    .fa-eye{
        position: absolute;
        transform:  translate(1230%, -280%);
        font-size: 1.2em;
    }
    header h1{
        padding: 0;
        margin-left: 780px;
        position: relative;
        transform: translate(0%, 150%);
        font-size: 3em;
    }

    img#cachorro{
        display: block;
        width: 400px;
        margin-top: 200px;
        margin-left: 50px;
    }

    img#logo{
        display: block;
        padding-top: 120px;
    }
    .imagem{
        width: 500px;
        height: 620px;
        border-radius: 40px;
        background-color: #F15156;
    }

    .name{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }

    .name h1{
        font-size: 2em;
        color: white;
        padding-top: 120px;
    }
}

